/* PALETTE */
/* 
BLUE: #AFD9EA;
PINK: #F0A6BA;
PEACH: #F1C5B0;
YELLOW: #F6E1A1; 

ORANGE: #fca25d;
*/

/* ------------------------------GLOBAL------------------------------ */
body {
  font-family: 'Muli', sans-serif;
  color: #707070;
}

hr {
  border-color: #fca25d;
  margin-bottom: 32px; 
}

/* ------------------------------Nav Component------------------------------ */
.appNav {
  background: rgba(175, 217, 234, 0.75);
  color: #707070;
}


/* ------------------------------Header Component------------------------------ */
.appHero {
    /* border-radius: 10px;
    border-color: #F1C5B0;
    border-style: solid; */
    /* background-color: #AFD9EA; */
    padding: 16px;
}

.appHeader {
    margin-top: 24px;
    /* color: #F0A6BA; */
    color: #fca25d;
    font-weight: 700;
}

.appSubHeader {
    margin-top: 24px;
    color: #fca25d;
    font-weight: 700;
    /* color: #F6E1A1;
    font-weight: 700; */
}

/* ------------------------------Content Component------------------------------ */
.thisContent {
    margin-top: 16px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 24px;
    /* background-color: rgba(241, 197, 176, 0.75); */
    /* border-radius: 10px; */
    /* border-color: #F1C5B0;
    border-radius: 10px;
    border-style: solid; */
}

/* ------------------------------DashControls Component------------------------------ */
.thisControls {
    width: 50px;
    float: left;
}

.appControls {
  color: #707070;
  cursor: pointer;
}

.appControls:hover {
  color: #fca25d;
}


/* ------------------------------Avatar Card Component------------------------------ */
.card {
  border-style: solid;
  border-color: #fca25d;
  border-width: 1px;
  box-shadow: unset;
  padding-top: 16px;
  object-fit: cover;
  /* margin-bottom: 64px; */
}

.imgContainer {
  margin: auto;
  max-width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  margin: auto;
  padding: auto;
  /* display: flex;
  justify-content: center; */
}

.cloudinary-button {
  background-color: #fca25d;
  color: white;
  margin: auto;
  padding: auto;
  /* display: inline-block; */
  /* position: relative; */
  /* bottom: 8px;
  right: 8px; */
}

.removeAvatar {
  background-color: transparent;
  border-color: #fca25d;
  border-style: solid;
  border-width: 1px;
  color: #707070;
  cursor: pointer;
  margin: auto;
  padding: auto;
} 


/* .thisCreateTraits {
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-color: gray;
  border-width: .5px;
  width: 416px;
  height: 32px;
} */

/* .questionInput {
  padding: 5px;
  border-style: solid;
  border-color: gray;
  border-width: .5px;
  background-color: white;
} */

/* ------------------------------??? Component------------------------------ */
.thisForm {
  padding: 5px;
  border-style: solid;
  border-color: #AFD9EA;
  border-width: 1px;
  background-color: white;
}

.score {
  width: 24px;
}


/* ------------------------------BUTTON------------------------------ */
.appAdminButton {
  display: flex;
  justify-content: center;
}

.appButton {
  width: 392px;
  margin: 16px 32px;
  padding: 16px 16px;
  background-color: #fca25d;
  border: none;
  color:white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  overflow: auto;
}

.appButton:hover {
  opacity: .7;
}
  

  
  .navlink {
    background-color: rgb(57, 0, 189);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  .navlink:hover {
    opacity: .8;
  }

  .togglerButton {
    padding: 2px 6px;
    background-color: #AFD9EA;
  }


.qIns {
  color: #fca25d;
}

.qLabel {
  padding-left: 15px;
}

.questionRow {
  /* background-color: rgba(175, 217, 234, 0.5); */
  border-style: solid;
  border-width: 1px;
  border-color: #fca25d;
  padding-top: 32px;
  margin-bottom: 32px;
}