.thisHeader {
    margin-top: 24px;
}

.thisSubHeader {
    margin-top: 24px;
}

.thisContent {
    margin-top: 16px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 24px;
    background-color: lightgray;
}

.thisControls {
    /* display: flex; */
    /* justify-content: center; */
    background-color: red;
    width: 50px;
}

.slider {
    margin: 0 auto;
    padding: 100px 30px 0;
  
    @media (min-width: 800px) {
      max-width: 60%;
    }
  }
  
  /* .input-range {
    margin-bottom: 160px;
  } */